
/* forces all columns to 100% on any forced-device smaller than the declared device column */

/*force-xs to all columns above xs (width:100%) */
.force-xs .col-sm-12,
.force-xs .col-sm-11,
.force-xs .col-sm-10,
.force-xs .col-sm-9,
.force-xs .col-sm-8,
.force-xs .col-sm-7,
.force-xs .col-sm-6,
.force-xs .col-sm-5,
.force-xs .col-sm-4,
.force-xs .col-sm-3,
.force-xs .col-sm-2,
.force-xs .col-sm-1,
.force-xs .col-md-12,
.force-xs .col-md-11,
.force-xs .col-md-10,
.force-xs .col-md-9,
.force-xs .col-md-8,
.force-xs .col-md-7,
.force-xs .col-md-6,
.force-xs .col-md-5,
.force-xs .col-md-4,
.force-xs .col-md-3,
.force-xs .col-md-2,
.force-xs .col-md-1,
.force-xs .col-lg-12,
.force-xs .col-lg-11,
.force-xs .col-lg-10,
.force-xs .col-lg-9,
.force-xs .col-lg-8,
.force-xs .col-lg-7,
.force-xs .col-lg-6,
.force-xs .col-lg-5,
.force-xs .col-lg-4,
.force-xs .col-lg-3,
.force-xs .col-lg-2,
.force-xs .col-lg-1,

/*force-sm to all columns above sm (width:100%)*/
.force-sm .col-md-12,
.force-sm .col-md-11,
.force-sm .col-md-10,
.force-sm .col-md-9,
.force-sm .col-md-8,
.force-sm .col-md-7,
.force-sm .col-md-6,
.force-sm .col-md-5,
.force-sm .col-md-4,
.force-sm .col-md-3,
.force-sm .col-md-2,
.force-sm .col-md-1,
.force-sm .col-lg-12,
.force-sm .col-lg-11,
.force-sm .col-lg-10,
.force-sm .col-lg-9,
.force-sm .col-lg-8,
.force-sm .col-lg-7,
.force-sm .col-lg-6,
.force-sm .col-lg-5,
.force-sm .col-lg-4,
.force-sm .col-lg-3,
.force-sm .col-lg-2,
.force-sm .col-lg-1,

/*force-md on all columns above md (widht:100%)*/
.force-md .col-lg-12,
.force-md .col-lg-11,
.force-md .col-lg-10,
.force-md .col-lg-9,
.force-md .col-lg-8,
.force-md .col-lg-7,
.force-md .col-lg-6,
.force-md .col-lg-5,
.force-md .col-lg-4,
.force-md .col-lg-3,
.force-md .col-lg-2,
.force-md .col-lg-1 {width:100%;}

/*no force-lg above needed, because there is nothing 'above lg' */

/* here we force each col-*-* to behave as it would on the corresponsing device, using the same %s as Bootstrap does */
/*force-xs to xs columns*/
.force-xs .col-xs-12{width:100%;}
.force-xs .col-xs-11{width:91.66666666666666%;}
.force-xs .col-xs-10{width:83.33333333333334%;}
.force-xs .col-xs-9{width:75%;}
.force-xs .col-xs-8{width:66.66666666666666%;}
.force-xs .col-xs-7{width:58.333333333333336%;}
.force-xs .col-xs-6{width:50%;}
.force-xs .col-xs-5{width:41.66666666666667%;}
.force-xs .col-xs-4{width:33.33333333333333%;}
.force-xs .col-xs-3{width:25%;}
.force-xs .col-xs-2{width:16.666666666666664%;}
.force-xs .col-xs-1{width:8.333333333333332%;}

/*force-sm to sm columns*/
.force-sm .col-sm-12{width:100%;}
.force-sm .col-sm-11{width:91.66666666666666%;}
.force-sm .col-sm-10{width:83.33333333333334%;}
.force-sm .col-sm-9{width:75%;}
.force-sm .col-sm-8{width:66.66666666666666%;}
.force-sm .col-sm-7{width:58.333333333333336%;}
.force-sm .col-sm-6{width:50%;}
.force-sm .col-sm-5{width:41.66666666666667%;}
.force-sm .col-sm-4{width:33.33333333333333%;}
.force-sm .col-sm-3{width:25%;}
.force-sm .col-sm-2{width:16.666666666666664%;}
.force-sm .col-sm-1{width:8.333333333333332%;}

/*force-md to md columns*/
.force-md .col-md-12{width:100%;}
.force-md .col-md-11{width:91.66666666666666%;}
.force-md .col-md-10{width:83.33333333333334%;}
.force-md .col-md-9{width:75%;}
.force-md .col-md-8{width:66.66666666666666%;}
.force-md .col-md-7{width:58.333333333333336%;}
.force-md .col-md-6{width:50%;}
.force-md .col-md-5{width:41.66666666666667%;}
.force-md .col-md-4{width:33.33333333333333%;}
.force-md .col-md-3{width:25%;}
.force-md .col-md-2{width:16.666666666666664%;}
.force-md .col-md-1{width:8.333333333333332%;}

/*force-lg to lg columns*/
.force-lg .col-lg-12{width:100%;}
.force-lg .col-lg-11{width:91.66666666666666%;}
.force-lg .col-lg-10{width:83.33333333333334%;}
.force-lg .col-lg-9{width:75%;}
.force-lg .col-lg-8{width:66.66666666666666%;}
.force-lg .col-lg-7{width:58.333333333333336%;}
.force-lg .col-lg-6{width:50%;}
.force-lg .col-lg-5{width:41.66666666666667%;}
.force-lg .col-lg-4{width:33.33333333333333%;}
.force-lg .col-lg-3{width:25%;}
.force-lg .col-lg-2{width:16.666666666666664%;}
.force-lg .col-lg-1{width:8.333333333333332%;}
